<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>Home</title>
</head>
<body>
    <div id="app" v-cloak>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo" v-on:click="seen=true" style="padding-left: 25px">{{user.name}} todo's</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a v-on:click="seen=true">menu</a></li>
                <li><a v-on:click="seen=false">addtodo</a></li>
                <li><a href="youtube.html">youtube</a></li>
                <li><a v-on:click="logout">logout</a></li>
                </ul>
            </div>
        </nav>

        
        <div id='todolist' v-if="seen" style="padding-left: 100px; padding-right: 100px">
            <div id="edit" >
                    <h5>edit</h5>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">edit</i>
                            <input id="icon_email" type="text" class="validate" v-model=edit.todo>
                            <label for="icon_email">Todo</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action" v-on:click="updatetodo">submit
                                <i class="material-icons right">send</i>
                        </button>
                    </div>
            </div>
            <div id="tabeltodo">

                <table class="highlight centered">
                    <tr>
                        <td style="font-weight: bold; font-size:20px">Todo</td>
                        <td style="font-weight: bold; font-size:20px">Create</td>
                        <td style="font-weight: bold; font-size:20px">Deadline</td>
                        <td style="font-weight: bold; font-size:20px">Status</td>
                    </tr>
                    <tr v-for= "todo in todos">
                        <!-- {{todo}} -->
                        <td>{{todo.todo}}</td>
                    <td>{{todo.createdAt}}</td>
                    <td>{{todo.deadLine}}</td>
                    <td>{{todo.status}}</td>
                    <td>
                        <button class="btn waves-effect waves-light" type="submit" name="action" v-on:click="edit=todo" v-on:click="update(todo)">
                            <i class="material-icons center">edit</i>
                        </button>
                        <!-- <i class="material-icons prefix">edit</i>                        
                            <button v-on:click="edit=todo" v-on:click="update(todo)">edit</button> -->
                        </td>
                        <td>
                            <button class="btn waves-effect waves-light" type="submit" name="action" v-on:click="deletetodo(todo._id)">
                                <i class="material-icons center">delete</i>
                            </button>
                            <!-- <i class="material-icons prefix">delete</i>                                                
                                <button v-on:click="deletetodo(todo._id)">delete</button></td> -->
                                <td>
                                    <button class="btn waves-effect waves-light" type="submit" name="action" v-on:click="changestatus(todo)">
                                        <i class="material-icons center">check_circle</i>
                                    </button>
                                    <!-- <i class="material-icons prefix">check_circle</i>
                                        <button v-on:click="changestatus(todo)">change</button> -->
                                    </td>
                                </tr>
                </table>
            </div>
        </div>
                        
        <div id='addtodo' style="padding-left: 100px; padding-right: 100px; padding-top: 80px" v-else>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">assignment</i>
                    <input id="icon_email" type="text" class="validate" v-model="todo">
                    <label for="icon_email">Todo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">timelapse</i>
                    <input id="icon_email" type="number" class="validate" v-model="deadline">
                    <label for="icon_email">Due Date</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action" v-on:click="addtodo">submit
                    <i class="material-icons right">send</i>
            </button>
        </div>
        
    

        <!-- {{edit.todo}} -->
        <!-- {{user}} -->
    </div>

    <script src="fb.js"></script>    
    <script>
    var app = new Vue({
            el: '#app',
            data: {
                name:'',
                todo:'',
                deadline:'',
                error:'',
                todos:'',
                edit:'',
                user:'',
                seen:true,
                show:false
            },
            mounted(){
                let token = localStorage.getItem('tokenjwt')
                // console.log("testttt token",token);
                // this.test = "dg"
                
                if(!token){
                    window.location = "index.html"
                }
            },
            methods:{
                addtodo: function(){
                    var validtoken = localStorage.getItem('tokenjwt')
                    var data = {
                        todo:this.todo,
                        deadline:this.deadline
                    }
                    var head = {
                        headers:{
                            tokenjwt:validtoken
                        }
                    }
                    // this.name = data
                    // this.name=head
                    if(this.todo.length>0){
                        axios.post('https://todo-server.shantidyah.club/todos/add',{         
                            todo:this.todo,
                            deadline:this.deadline
                        },{
                            headers:{
                                tokenjwt:validtoken
                            }  
                        })
                        .then(todo=>{
                            // this.name=todo
                            window.location ='home.html'
    
                            console.log(todo); 
                        })
                        .catch(err=>{
                            console.log(err);
                            
                        })
                    }
                    else{
                        alert("todo cannot empty")
                    }
                },
                gettodos: function(){
                    var validtoken = localStorage.getItem('tokenjwt')
                    axios.get('https://todo-server.shantidyah.club/todos',{
                        headers:{
                            tokenjwt:validtoken
                        }
                    })
                    .then(todos=>{
                        this.todos = todos.data
                        console.log(todos);
                        
                    })
                    .catch(err=>{
                        console.log(err);
                        
                    })
                },
                logout: function(){
                    localStorage.clear()                        

                    FB.logout(function(response) {
                        localStorage.clear()                        
                        window.location ='index.html'
                    });
                    window.location ='index.html'

                },
                updatetodo: function(todo){
                    var id = this.edit._id
                    if(this.edit.todo.length>1){
                        axios.put(`https://todo-server.shantidyah.club/todos/edit/${id}`,{         
                            todo:this.edit.todo
                        })
                        .then(todo=>{
                            console.log(todo);
                            this.test = todo
                            window.location = 'home.html'
                        })
                        .catch(err=>{
                            console.log(err);
                            
                        })
                    }
                    else{
                        window.location = 'home.html'
                    }
                },
                deletetodo: function(id){
                    axios.delete(`https://todo-server.shantidyah.club/todos/delete/${id}`)
                    .then(todo=>{
                        console.log(todo);
                        this.test=todo
                        alert("success delete a task")
                        window.location = 'home.html'
                    })
                    .catch(err=>{
                        console.log(err);
                        
                    })
                },
                changestatus: function(todo){
                    var change = 'complete'

                    if(todo.status=="uncomplete"){
                        var change = 'complete'
                    }else{
                        alert("this task already complete")
                    }
                    axios.put(`https://todo-server.shantidyah.club/todos/status/${todo._id}`,{
                        status:change
                    })
                    .then(todo=>{
                        console.log(todo);
                        this.test=todo
                        window.location = 'home.html'
                    })
                    .catch(err=>{
                        console.log(err);
                        
                    })
                },
                covertToken: function(){
                    var validtoken = localStorage.getItem('tokenjwt')

                    axios.get('https://todo-server.shantidyah.club/converttoken',{
                        headers:{
                            tokenjwt:validtoken
                        }
                    })
                    .then(convert=>{
                        this.user=convert.data
                    })
                    .catch(err=>{
                        console.log(err);
                    })
                }
            },
            created(){
                this.gettodos()
                this.covertToken()
            }

        })
    </script>
    <style>
        [v-cloak]{
            display:none
        }
    </style>
</body>
</html>