<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Todo</title>
</head>
<body>

    <div id="app" v-cloak>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo" style="padding-left: 25px">TODO-FANCY</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a v-on:click="seen=true">Login</a></li>
                <li><a v-on:click="seen=false" v-on:click="email=''" v-on:click="password=''">Register</a></li>
                </ul>
            </div>
        </nav>

        <br><br>
        
        <div id="login" v-if="seen" style="padding-left: 30px">
            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input id="icon_email" type="text" class="validate" v-model="loginemail">
                        <label for="icon_email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">enhanced_encryption</i>
                        <input id="icon_pass" type="password" class="validate" v-model="loginpass">
                        <label for="icon_pass">Password</label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action" v-on:click="login">Login
                        <i class="material-icons right">send</i>
                </button>
            </div>
        </div>


        <div id="register" v-else style="padding-left: 30px">
            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_email" type="text" class="validate" v-model='name'>
                        <label for="icon_email">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input id="icon_email" type="text" class="validate" v-model="email">
                        <label for="icon_email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">enhanced_encryption</i>
                        <input id="icon_pass" type="password" class="validate" v-model="password">
                        <label for="icon_pass">Password</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action" v-on:click="adduser">Register
                        <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
        {{error}}
    </div>

    <br><br>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" id="login" >
        login facebook
    </fb:login-button>

    <!-- <input type="button" value="logout" onclick="logoutfb()"> -->
    
                    
    
    <script src="fb.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name:'',
                email:'',
                password:'',
                loginemail:'',
                loginpass:'',
                error:'',
                seen:true
            },
            created(){
                this.name = ''
                this.email = ''
                let token = localStorage.getItem('tokenjwt')
                if(token){
                    // this.error=token
                    window.location = "home.html"
                }
            },
            methods:{
                adduser: function(){

                    axios.post('https://todo-server.shantidyah.club/users/add',{
                        name:this.name,
                        email:this.email,
                        password:this.password
                    })
                    .then(data => {
                            console.log(data.data);
                            window.location ='index.html'
                    })
                    .catch(error => {
                        console.log(error)
                    })

                },
                login: function(){
                    axios.post('https://todo-server.shantidyah.club/login/',{
                        email:this.loginemail,
                        password:this.loginpass
                    })
                    .then(user=>{
                        console.log(user);
                        if(user.data=='x'){
                            this.error = "your password wrong"
                        }
                        else if(user.data=='o'){
                            this.error = "your email invalid"
                        }
                        else{
                            localStorage.setItem("tokenjwt", user.data)
                            console.log(user.data);
                            
                            window.location ='home.html'
                        }
                    })
                    .catch(err=>{
                        console.log("masuk error");
                        
                        console.log(err);
                        
                    })
                }
            }
        })
    </script>
    <style>
        [v-cloak]{
            display:none
        }
    </style>
</body>
</html>







